.Visning {
    margin: 2rem;

    .Behovkategorier {
        display: flex;
        flex-direction: row;
        max-width: 1200px;
        flex-wrap: wrap;

        .blokk-xs {
            margin: 2rem 0;
            width: 400px;
        }   
    }
}