.visning {
    &__behovkategorier {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    &__behovgruppe {
        width: 50%;
        min-width: 25rem;
        margin: 1.5rem 0;
    }

    &__behovgruppetittel.navds-heading {
        margin-bottom: 0.5rem;
    }

    &__ingenbehov.navds-body-short {
        font-style: italic;
        margin-top: 0.5rem;
    }

    &__behovliste {
        margin: 0.5rem 0;
    }

    &__advarsler > *:not(:first-child) {
        margin-top: 1rem;
    }
}
