.visning {
    margin: 2rem;

    &__behovkategorier {
        display: flex;
        flex-direction: row;
        max-width: 62.5rem;
        flex-wrap: wrap;
    }

    &__behovgruppe {
        margin: 2rem 0;
        width: 25rem;
    }
}
