.endring {
    max-width: 100%;
    background-color: #f4f4f4;
    padding-top: 2rem;

    &__innhold {
        max-width: 40rem;
        margin: 0 auto;
        padding-bottom: 4rem;
    }

    &__slettknapp {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 1rem;
    }

    &__form {
        background-color: white;
        padding: 2rem 2rem 2.5rem;
    }

    &__lagreknapp {
        margin-right: 1.25rem;
    }
}
