.gi-tilbakemelding {
    .textarea {
        &__container {
            margin-bottom: 1rem;
        }
    }

    &__sendknapp {
        display: flex;
        align-items: center;

        .knapp__spinner {
            margin-bottom: 0.25rem;
        }
    }

    &__textarea {
        width: 100%;
    }
}
