.registrering {
    max-width: 100%;
    background-color: #f4f4f4;

    &__innhold {
        max-width: 40rem;
        margin: 0 auto;
        padding-bottom: 4rem;
    }

    &__tilbake {
        padding-top: 2rem;
        margin-bottom: 1.5rem;
        text-decoration-line: none;
        display: block;

        &:hover {
            text-decoration-line: underline;
        }
    }

    &__form {
        background-color: white;
        padding: 2rem 2rem 2.5rem;
    }
}
