.registrering {
    max-width: 100%;
    background-color: #f4f4f4;
    padding-top: 2rem;
}

.innhold {
    max-width: 40rem;
    margin: 0 auto;
    padding-bottom: 4rem;
}

.alert {
    margin: 1.5rem 0;
}

.form {
    background-color: white;
    padding: 2rem 2rem 2.5rem;
}

.knapper {
    display: flex;
    align-items: center;
}

.knapper button {
    min-width: 5rem;
    margin-right: 1.25rem;
}

.lagreknapp:global(.navds-button) {
    margin-right: 1.25rem;
}

.feilmelding:global(.navds-body-short) {
    margin-top: 0.5rem;
    font-weight: var(--navds-font-weight-bold);
    color: var(--navds-semantic-color-feedback-danger-text);
}

.ingress:global(.navds-ingress) {
    margin-top: 1rem;
}
